$mainFont: 'Noto Sans Mono', 'monospace';

$degradado-azul : linear-gradient(to bottom, #203A43, #2C5364);
$degradado-celeste: linear-gradient(to bottom, #2193b0, #6dd5ed);
$degradado-rojo: linear-gradient(to left, #cf1b1e, #cf1b1e);


$blanco: white;
$negro: black;
$azul: darkblue;

$border-color-primary: rgb(196, 3, 48);
$border-color-secondary: rgb(255, 255, 255);


$name: 2.5em;
$title: 2em;
$subtitle: 1.5em;
$text: 1em;

$f-black: 900;
$f-bold: 700;
$f-regular: 500;

$xl-width: 100%;
$lg-width: 80%;
$md-width: 50%;
$sm-width: 30%;
$xs-width: 10%;

